body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 75%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-color: #444;
    color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.footer{
    text-align: center;
    position: absolute;
    bottom: 3px;
    left: 30%;
    color: aliceblue;
    font-size: smaller;
}